*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}
body{
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.wrapper{
	background-color: white;
	width: 450px;
	border-radius: 5px;
}
/*signup form css*/
.form{
	padding: 25px 30px;
}
.form header{
	font-size: 25px;
	font-weight: bold;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 10px;
	/*justify-content: center;
	align-items: center;
	display: flex;*/
}
.form form{
	margin: 20px 0;
}
.form form .error-txt{
	color: #721c24;
	background-color: #f8d7da;
	padding: 8px 10px;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 10px;
}
/*.form form .name-details{
	display: flex;
}*/
.form form .field{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.form form .field label{
	margin-bottom: 2px;

}
.form form .field input{
	outline: none;
}
.form form .input input{
	height: 40px;
	width: 100%;
	padding: 0 8px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #ccc;

}
.form form .image input{
	font-size: 16px;
}
.form form .button input{
	margin-top: 5px;
	height: 45px;
	border: none;
	font-size: 16px;
	background-color: #333;
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
}
.form .link{
	text-align: center;
	font-size: 16px;
}
.form .link a{
	color: #333;
}
.form .link a:hover{
	text-decoration: underline;
}

